body{
    background: rgb(214,212,212);
    text-align: center;
}

.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0,2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;

}

label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

select{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    
}
input.description {
    height: 200px;
}


form button{
    font-size: large;
    background: #00964b;
    border: 0;
    color: #ffffff;
    padding: 10px;
    font-family: "Poppins";
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    margin: 15px;
}

form button:hover{
    background: #007e3d;
}
